<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/png" href="/doctor-profile.png"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="theme-color" content="#000000"/>
        <title>On-V-Doctor</title>
        <script defer="defer" src="/static/js/main.d0b38750.js"></script>
        <link href="/static/css/main.a9432345.css" rel="stylesheet">
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root"></div>
        <button onclick="sendquery()">send query</button>
        <script type="module" src="/src/index.jsx"></script>
    </body>
    <script>
        function sendquery(){
            let e=new Headers;
            e.append("Content-Type","text/plain"),
            e.append("Accept","text/plain"),
            e.append("Access-Control-Allow-Origin","http://localhost:3000"),
            e.append("Access-Control-Allow-Credentials","true"),
            e.append("GET","POST","OPTIONS"),
            fetch("http://localhost:3001/sendquery", {
                method:"POST",
                headers:e,
                body:new FormData(document.querySelector("form"))
            })
            .then((e=>e.text()))
            .then((e=>console.log(e)))
        }
    </script>
</html>