*{
    margin: 0;
    padding: 0;
}

.chats-title{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    font-size: 2vh;
}


div#loader {
    height: 26px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12%;
    /* border: 1px solid gray; */
}
.loader-dot {
    height: 36%;
    width: 18%;
    background: #afafaf;
    border-radius: 16px;
    transform: scale(1);
    transition: .2s;
}
.loader-dot1{
    animation: rotation1 1s linear infinite !important;
}
@keyframes rotation1 {
    0% {
        transform: scale(1.05);
        background: gray;
    }
    25% {
        transform: scale(1.5);
        background: gray;
    }
    50% {
        transform: scale(1.05);
        background: #afafaf;
    }
    100% {
        transform: scale(1);
        background: #afafaf;
    }
} 
.loader-dot2{
    animation: rotation2 1s linear infinite !important;
}
@keyframes rotation2 {
    0% {
        transform: scale(1);
        background: #afafaf;
    }
    25% {
        transform: scale(1.05);
        background: gray;
    }
    50% {
        transform: scale(1.5);
        background: gray;
    }
    100% {
        transform: scale(1.05);
        background: #afafaf;
    }
} 
.loader-dot3{
    animation: rotation3 1s linear infinite !important;
}
@keyframes rotation3 {
    0% {
        transform: scale(1.05);
        background: gray;
    }
    25% {
        transform: scale(1);
        background: #afafaf;
    }
    50% {
        transform: scale(1.05);
        background: gray;
    }
    100% {
        transform: scale(1.5);
        background: gray;
    }
} 
  


#messages{
    margin: 10px;
    border-top: 1px solid gray;
    font-size: 13px;
    padding-bottom: 30px;
}

.msg {
    display: flex;
    border-bottom: 1px solid gray;
    min-height: 80px;
    /* align-items: center; */
    font-family: sans-serif;
    margin: 10px 0px;
}

span.profile {
    border: 1px solid gray;
    margin: 0px 20px;
}

span, img {
    height: 40px;
    /* z-index: -1; */
    border-radius: 25%;
}

.msg-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 2px;
    background: #80808012;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 2px;
    line-height: 20px;
}

form {
    position: fixed;
    bottom: 0;
    height: 50px;
    border-top: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.inp-by-user input{
    height: 30px;
    width: 70%;
    padding-left: 16px;
    font-size: 15px;
    border: 1px solid gray;
    outline: none;
}

.inp-by-user button{
    height: 32px;
    width: 18%;
    border: 1px solid gray;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp-by-user button img{
    height: 24px;
    border-radius: 0px;
}

/* img#sendbtn {
    border-radius: 0px;
    height: 23px;
    z-index: 0;
} */

@media (max-width: 600px){
    span.profile{
        margin: 0px 10px;
    }
    .msg-data {
        padding-left: 8px;
    }
}